<a href="https://colab.research.google.com/github/kaispace30098/SparkRDD_wordcount/blob/main/Spark_RDD_practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#experiment for text preprocessing
text='hello this is tom. I am an industrial engineer!'
import re
texts=re.compile(r'\W+',re.UNICODE).split(text.lower())
texts[:-1]

['hello', 'this', 'is', 'tom', 'i', 'am', 'an', 'industrial', 'engineer']

In [2]:
#Text preprocessing function
def cleantext(line):
  return re.compile(r'\W+',re.UNICODE).split(line.lower())[:-1]

In [3]:
!pip install pyspark
from pyspark import SparkConf, SparkContext

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [4]:
conf=SparkConf().setMaster('local').setAppName('Wordcount')
sc=SparkContext(conf=conf)

In [5]:
lines =sc.textFile('/content/Book')#line RDD

In [6]:
#now we got bunch of lines, length: N
#we first gather them into one line, length:1 and split them by words
words=lines.flatMap(cleantext)

In [7]:
#now turn each words into key-value RDD and cumulate the values by key
wordcount=words.map(lambda x:(x,1)).reduceByKey(lambda x,y:x+y)

In [28]:
#Assume we don't want 'you' in the wordcount

filtered=wordcount.filter(lambda x: 'you' not in x[0])

In [29]:
#because now the key is word, value is count
# to sort by number of count we need to turn keys into values, values into keys
countword=filtered.map(lambda x:(x[1],x[0]))

In [30]:
#Finally we can sort
sortcountwords=countword.sortByKey(False)

In [34]:
#After all these TRANSFORMATION, Now let's apply ACTION
results=sortcountwords.collect()

In [32]:
type(results)

list

In [35]:
#Top words:
print('except "you" included, list the top ten words in the book')
for result in results[:10]:
   print(result[1],":",result[0])

except "you" included, list the top ten words in the book
to : 1828
the : 1292
a : 1191
of : 970
and : 934
that : 747
it : 646
in : 616
is : 560
for : 537